---
import i18next, { t } from 'i18next'
import HeadSEO from 'organisms:HeadSEO'
import GoogleAnalytics from 'atoms:GoogleAnalytics'
import { HeadHrefLangs } from 'astro-i18next/components'
import AppFooter from 'molecules:AppFooter'
import Social from 'atoms:Social'
import Email from 'atoms:Email'
import Navbar from 'molecules:Navbar'
import Technologies from 'molecules:Technologies'
import '../../styles/global.css'
import { domain } from '@store:constants'

let { title, description, image, ogImageAlt } = Astro.props

title = title || t('seo.title')
description = description || t('seo.description')
image = image ? `${domain}${image}` : `${domain}/uploads/me.webp`
ogImageAlt = ogImageAlt || t('seo.ogImageAlt')
---

<html lang={i18next.language}>
	<head>
		<meta charset='utf-8' />
		<meta name='viewport' content='width=device-width' />
		<HeadSEO title={title} description={description} image={image} ogImageAlt={ogImageAlt} />
		<HeadHrefLangs />
		<GoogleAnalytics />
	</head>

	<body
		class='content-wrapper flex min-h-screen flex-col bg-background-primary leading-normal text-light-slate font-mono'
	>
		<div class='relative flex min-h-[100vh] flex-col'>
			<Navbar />
			<div class='container mx-auto mt-7 flex flex-col xl:flex-row'>
				<main class='relative w-full overflow-hidden px-2'>
					<Technologies />
					<slot />
				</main>
			</div>
			<Social />
			<Email />
		</div>
		<AppFooter />
	</body>
</html>
