---
import i18next, { t } from 'i18next'
import HeadSEO from 'organisms:HeadSEO'
import { HeadHrefLangs } from 'astro-i18next/components'
import AppFooter from 'molecules:AppFooter'
import Social from 'atoms:Social'
import Email from 'atoms:Email'
import Navbar from 'molecules:Navbar'
import Technologies from 'molecules:Technologies'
import '../../styles/global.css'
import { domain } from '@store:constants'

let { title, description, image, ogImageAlt } = Astro.props

const googleSiteVerification = import.meta.env.PUBLIC_GOOGLE_SITE_VERIFICATION;

title = title || t('seo.title')
description = description || t('seo.description')
image = image ? `${domain}${image}` : `${domain}/uploads/me.webp`
ogImageAlt = ogImageAlt || t('seo.ogImageAlt')
---

<html lang={i18next.language}>
	<head>
		<meta charset='utf-8' />
		<meta name='viewport' content='width=device-width' />
		<HeadSEO title={title} description={description} image={image} ogImageAlt={ogImageAlt} />
		<HeadHrefLangs />
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600&display=swap"
      rel="stylesheet"
    />

		{
      // If PUBLIC_GOOGLE_SITE_VERIFICATION is set in the environment variable,
      // include google-site-verification tag in the heading
      // Learn more: https://support.google.com/webmasters/answer/9008080#meta_tag_verification&zippy=%2Chtml-tag
      googleSiteVerification && (
        <meta
          name="google-site-verification"
          content={googleSiteVerification}
        />
      )
    }
	</head>

	<body
		class='content-wrapper flex min-h-screen flex-col bg-background-primary font-sans leading-normal text-light-slate font-mono'
	>
		<div class='relative flex min-h-[100vh] flex-col'>
			<Navbar />
			<div class='container mx-auto mt-24 flex flex-col xl:flex-row'>
				<main class='relative w-full overflow-hidden px-2'>
					<Technologies />
					<slot />
				</main>
			</div>
			<Social />
			<Email />
		</div>
		<AppFooter />
	</body>
</html>
