---
import i18next, { t } from 'i18next'
import HeadSEO from 'organisms:HeadSEO'
import { HeadHrefLangs } from 'astro-i18next/components'
import AppFooter from 'molecules:AppFooter'
import LanguageSelector from 'atoms:LanguageSelector'
import WidgetWrapper from 'molecules:WidgetWrapper'
import Navbar from '@components:molecules/Navbar.vue'
import '../../styles/global.css'
import { domain } from '@store:constants'

const {pathname} = Astro.url
const isBlogRoot = pathname.endsWith('/blog')

export interface Props {
	title: string;
	description?: string;
	image?: string;
	ogImageAlt?: string;
}

let { title, description, image, ogImageAlt } = Astro.props

title = title || t('seo.title')
description = description || t('seo.description')
image = image ? `${domain}${image}` : `${domain}/assets/images/me.png`
ogImageAlt = ogImageAlt || t('seo.ogImageAlt')
---

<html lang={i18next.language}>
	<head>
		<meta charset='utf-8' />
		<meta name='viewport' content='width=device-width' />
		<HeadSEO title={title} description={description} image={image} ogImageAlt={ogImageAlt} />
		<HeadHrefLangs />
		<!-- Fonts -->
		<link rel='preconnect' href='https://fonts.gstatic.com' />
		<link
			rel='stylesheet'
			href='https://fonts.googleapis.com/css?family=Lato|Rokkitt|Fira+Sans&display=swap'
		/>
	</head>

	<body
		class='content-wrapper bg-background-primary font-sans text-light-slate leading-normal flex flex-col min-h-screen'
	>
		<div class='relative flex flex-col min-h-[100vh]'>
			<Navbar client:load>
				<div slot='language-selector'>
					<LanguageSelector
						showFlag={true}
						class='cursor-pointer select-none rounded border-b border-transparent bg-transparent text-sm text-green-500 hover:border-green-500 hover:bg-green-900'
					/>
				</div>
			</Navbar>
			<div class='flex  flex-col md:flex-row justify-around mt-10 md:mt-24 lg:mt-15'>
				<main class='container mx-auto flex-grow'>
					<slot />
				</main>
				<aside class='w-1/2 md:mr-80'>
					<slot name='widget'>
						<WidgetWrapper />
					</slot>
				</aside>
			</div>
		</div>
		<AppFooter />
	</body>
</html>
