---
import i18next, { t, changeLanguage } from 'i18next'
import HeadSEO from 'organisms:HeadSEO'
import { HeadHrefLangs } from 'astro-i18next/components'
import AppFooter from 'molecules:AppFooter'
import WidgetWrapper from 'molecules:WidgetWrapper'
import Navbar from 'molecules:Navbar'
import Technologies from 'molecules:Technologies'
import '../../styles/global.css'
import { domain } from '@store:constants'
import ToTop from 'atoms:ToTop'

export interface Props {
	title: string
	description?: string
	image?: string
	ogImageAlt?: string
	lang?: string
}

let { title, description, image, ogImageAlt, lang } = Astro.props

title = title || t('seo.title')
description = description || t('seo.description')
image = image ? `${domain}${image}` : `${domain}/assets/images/me.png`
ogImageAlt = ogImageAlt || t('seo.ogImageAlt')
lang = lang || i18next.language

changeLanguage(lang)
---

<html lang={i18next.language} class='scroll-smooth'>
	<head>
		<meta charset='utf-8' />
		<meta name='viewport' content='width=device-width' />
		<HeadSEO title={title} description={description} image={image} ogImageAlt={ogImageAlt} />
		<HeadHrefLangs />
		<!-- Fonts -->
		<link rel='preconnect' href='https://fonts.gstatic.com' />
		<link
			rel='stylesheet'
			href='https://fonts.googleapis.com/css?family=Lato|Rokkitt|Fira+Sans&display=swap'
		/>
	</head>

	<body
		id='body'
		class='content-wrapper bg-background-primary font-sans text-light-slate leading-normal flex flex-col min-h-screen'
	>
		<div class='relative flex flex-col min-h-[100vh]'>
			<Navbar />
			<div class='container mx-auto flex flex-col xl:flex-row mt-24'>
				<main class='relative w-full overflow-hidden xl:basis-4/5'>
					<Technologies />
					<slot />
					<ToTop />
				</main>
				<aside class='xl:basis-1/5'>
					<slot name='widget'>
						<WidgetWrapper />
					</slot>
				</aside>
			</div>
		</div>
		<AppFooter />
	</body>
</html>
