---
import BlogTemplate from 'templates:BlogTemplate'
import Redirect from '../atoms/Redirect.vue'

const { content } = Astro.props
const { title, description, cover, lang, link } = content
const ogImageAlt = title
---
<BlogTemplate
	title={title}
	description={description}
	image={cover}
	ogImageAlt={ogImageAlt}
	lang={lang}
>
	<div>
		<Redirect client:only url={link} />
	</div>
</BlogTemplate>
