---
import i18next, { t } from 'i18next'
import { Image } from '@astrojs/image/components'
import { Article, jsonToArticle } from '@models:Article'
import { MarkdownInstance } from 'astro'

const articlesFiles: { [key: string]: Promise<MarkdownInstance<Record<string, any>>[]> } = {
	en: Astro.glob('../../pages/blog/**/*.md'),
	es: Astro.glob('../../pages/es/blog/**/*.md')
}
const postsData = i18next.language in articlesFiles ? await articlesFiles[i18next.language] : []
const maxNumberOfPosts = 3
const posts: Article[] = postsData
	.filter((post) => !post.frontmatter.draft && post.frontmatter.lang === i18next.language)
	.map((post) => jsonToArticle(post))
	.sort((a, b) => {
		let aDate = new Date(a.date)
		let bDate = new Date(b.date)
		return bDate.getTime() - aDate.getTime()
	})
	.slice(0, maxNumberOfPosts)
---

<section id='last3articles' class='flex flex-col content-center items-center justify-center'>
	<h2 class='numbered-heading'>{t('menus.last-articles')}</h2>
	<div
		class='my-2 mx-4 flex flex-col content-center justify-center justify-items-center gap-4 md:mx-auto md:flex-row'
	>
		{
			posts.map((post) => (
				<article class='w-full max-w-sm transform rounded-lg border border-lightest-navy bg-light-navy shadow-md hover:-translate-y-2'>
					<a href={post.url}>
						<Image
							class='h-48 w-96 rounded-t-lg object-fill'
							src={post.cover}
							alt={post.title}
							height={400}
							width={1000}
						/>
						<div class='absolute top-1 right-1 left-1 flex items-center justify-between rounded-lg rounded-b-none px-4'>
							<span class='' />
							<div class='font-regular flex flex-col items-center justify-start rounded bg-light-navy/25 text-center text-lightest-slate'>
								<span class='leading-0 text-3xl font-semibold'>{post.timeToRead}</span>
								<span class='-mt-3 text-xl'>Min</span>
							</div>
						</div>
					</a>
					<div class='relative h-64 p-5'>
						<a href={post.url}>
							<h3 class='mb-1 text-2xl font-bold tracking-tight text-lightest-slate line-clamp-3'>
								{post.title}
							</h3>
						</a>
						<p class='mb-3 font-normal line-clamp-4 md:line-clamp-3'>{post.description}</p>
						<footer class='absolute bottom-1'>
							<a href={post.url} class='inline-flex items-center py-1 px-3 text-sm font-medium'>
								{t('read')}
							</a>
						</footer>
					</div>
				</article>
			))
		}
	</div>
</section>
