---
import i18next, { t } from 'i18next'
import { Article, jsonToArticle } from '@models:Article'
import { MarkdownInstance } from 'astro'

const articlesFiles: { [key: string]: Promise<MarkdownInstance<Record<string, any>>[]> } = {
	en: Astro.glob('../../pages/blog/**/*.md'),
	es: Astro.glob('../../pages/es/blog/**/*.md')
}
const postsData = i18next.language in articlesFiles ? await articlesFiles[i18next.language] : []
const maxNumberOfPosts = 3
const posts: Article[] = postsData
	.filter((post) => !post.frontmatter.draft && post.frontmatter.lang === i18next.language)
	.map((post) => jsonToArticle(post))
	.sort((a, b) => {
		let aDate = new Date(a.date)
		let bDate = new Date(b.date)
		return bDate.getTime() - aDate.getTime()
	})
	.slice(0, maxNumberOfPosts)
---

<section id='last3articles' class='flex flex-col justify-center items-center content-center'>
	<h2 class='numbered-heading'>{t('menus.last-articles')}</h2>
	<div
		class='my-2 mx-4 md:mx-auto flex flex-col md:flex-row justify-center justify-items-center content-center gap-4'
	>
		{
			posts.map((post) => (
				<article class='w-full max-w-sm bg-light-navy rounded-lg border border-lightest-navy shadow-md transform hover:-translate-y-2'>
					<a href={post.url}>
						<img class='rounded-t-lg object-cover h-48 w-96' src={post.cover} alt={post.title} />
						<div class='absolute top-1 right-1 left-1 flex justify-between items-center px-4 rounded-lg rounded-b-none'>
							<span class='' />
							<div class='text-lightest-slate font-regular flex flex-col justify-start items-center text-center bg-light-navy/25 rounded'>
								<span class='text-3xl leading-0 font-semibold'>{post.timeToRead}</span>
								<span class='-mt-3 text-xl'>Min</span>
							</div>
						</div>
					</a>
					<div class='relative h-64 p-5'>
						<a href={post.url}>
							<h5 class='mb-2 text-2xl font-bold tracking-tight text-lightest-slate'>
								{post.title}
							</h5>
						</a>
						<p class='mb-3 font-normal line-clamp-4 md:line-clamp-3'>{post.description}</p>
						<footer class='absolute bottom-1'>
							<a href={post.url} class='inline-flex items-center py-2 px-3 text-sm font-medium'>
								{t('read')}
							</a>
						</footer>
					</div>
				</article>
			))
		}
	</div>
</section>
