---
/**
 * CertificateTimeline component.
 * This component renders a timeline of certificates by composing the `TimelineItem`
 * and `CertificateHeader` components.
 *
 * @prop {Certificate[]} certificates - An array of certificate objects to display.
 * @prop {Lang} locale - The locale to use for date formatting.
 */
import CertificateHeader from "@/components/molecules/CertificateHeader.astro";
import TimelineItem from "@/components/molecules/TimelineItem.astro";
import type Certificate from "@/core/resume/certificate/certificate.model";
import { type Lang } from "@/i18n";

interface Props {
	certificates: Certificate[];
	locale: Lang;
}

const { certificates, locale } = Astro.props;
---

<div class="certificate-timeline">
  {certificates.map((certificate) => (
    <TimelineItem
      startDate={certificate.date}
      endDate={null}
      locale={locale}
      showDates={true}
      variant="default"
    >
      <CertificateHeader
        name={certificate.name}
        issuer={certificate.issuer}
        url={certificate.url}
      />
    </TimelineItem>
  ))}
</div>

<style>
  .certificate-timeline {
    position: relative;
    margin-top: 10px;
  }
</style>